// src/styles/_auth.scss
.auth-form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    
    h2 {
      text-align: center;
    }
  
    .google-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      width: 100%;
      
      svg {
        margin-right: 5px;
      }
    }
  }
  