.featured-container {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out; // Transition for fade animation

  &.fade-in {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }

  .background {
    img.background-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      filter: brightness(0.5);
    }
  }

  .content-overlay {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 50px;

    .poster-col {
      display: flex;
      justify-content: center;
      align-items: center;

      .movie-poster {
        width: 50%;
        max-width: 300px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .info-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;

      .desc {
        font-size: 18px;
        margin-bottom: 20px;
      }
      .movieTitle{
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .buttons {
        display: flex;
        gap: 15px;
      }
    }
  }

  @media (max-width: 768px) {
    .content-overlay {
      flex-direction: column;

      .poster-col, .info-col {
        text-align: center;
      }

      .info-col {
        margin-top: 20px;
      }
    }
  }
}
