.detail-movie-container {
  padding: 20px;
  background-color: var(--main-color);
}

.movieDetailCard,
.actorSlider,
.mediaTrailer,
.movieReview {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box; /* Ensure padding doesn't exceed container */
}

.reviewBar {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .movieDetailCard,
  .actorSlider,
  .mediaTrailer,
  .movieReview {
    margin-bottom: 15px;
  }
}
