.country-table-wrapper {
  overflow-x: auto; /* Hanya tabel yang di-scroll */
  flex-grow: 1; /* Tabel akan menempati sisa ruang */
}

.country-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}