.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .action-buttons {
    display: flex;
    gap: 5px; /* Beri jarak antara tombol */
  }
  
  .action-buttons .btn {
    flex: 1; /* Buat tombol memiliki lebar yang seragam */
  }
  