.login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  background-color: var(--primary-color);

  .loginButton {
    margin-top: 20px;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #5A4AF4;
    }
  }
}