/* Custom styles for the dropdown item hover */
.dropdown-item-custom {
  padding: 0.5rem 1rem;
  color: #333; /* Default text color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */

  &:hover {
    background-color: var(--primary-on-hover); /* Change this to your preferred hover background color */
    color: #fff; /* Change this to your preferred hover text color */
  }
}

.navbar {
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(to top, transparent 10%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled {
    background-color: var(--main-color);
  }


  .container {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;
      .logo-brand {
        font-family: "Bebas Neue", sans-serif;
        font-size: 2vw;
        color: var(--primary-color);
        cursor: pointer;
      }

      .nav-links {
        display: flex;
        align-items: center;
        font-family: "Poppins", sans-serif;

        span {
          margin-right: 20px;
          cursor: pointer;
          font-weight: bold;
          font-size: 16px;

          &:hover {
            color: var(--primary-color);
            transition: all ease-in;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .icon {
        margin: 0px 15px;
        cursor: pointer;
      }

      .user-info {
        display: flex;
        align-items: center;
        margin-left: 10px; /* Margin between search icon and user */
        color: white;
        font-size: 16px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .profile-name {
          margin-right: 10px;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .profile-icon {
          margin-right: 10px;
          font-size: 1.5rem;
        }
      }

      .hamburger {
        display: none;
        cursor: pointer;
      }
    }
  }

  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    z-index: 1000;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &.active {
      display: flex;
      flex-direction: column;
      transform: translateX(0);

      .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .close-icon {
          cursor: pointer;
          margin-bottom: 20px;
        }
      }
    }

    .logo-brand {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    span {
      display: block;
      cursor: pointer;
      margin: 20px 20px;
      font-weight: 500;
      font-size: 1.2rem;
    }

    .country {
      margin-top: 20px;
      .icon {
        margin-left: 10px;
      }

      .options {
        display: none;
        position: static;
        background-color: transparent;

        span {
          display: block;
          padding: 5px 0;
          cursor: pointer;

          &:hover {
            background-color: transparent !important;
            font-weight: bold;
          }
        }
      }

      &:hover .options {
        display: block;
      }
    }
  }

  .profile-dropdown {
    position: absolute;
    top: 70px;
    right: 10px;
    width: 250px;
    background-color: #304058; /* Sesuaikan warna */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 100;
    text-align: center;

    .profile-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
      .profile-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
      }
      .h4 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
      }

      .profile-email {
        font-size: 14px;
        color: #ffffff;
      }
    }
  }

  .profile-actions {
    display: flex;
    justify-content: space-between;
    .btn-profile,
    .btn-signout {
      padding: 10px;
      border: none;
      background-color: #fff;
      color: var(--primary-color);
      border-radius: 5px;
      cursor: pointer;
      width: 45%;

      &:hover {
        background-color: var(--primary-on-hover);
        color: #fff;
      }
    }
  }



  .icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
    cursor: pointer;
  }

  @media screen and (max-width: 960px) {
    .logo-brand {
      font-size: 5vw;
      color: var(--primary-color);
      font-family: Poppins, sans-serif;
    }

    .container {
      padding: 0 20px;

      .left {
        .nav-links {
          display: none;
        }
      }

      .right {
        .hamburger {
          display: block;
        }

        .user-info {
          display: none; /* Hide user info on small screens */
        }
      }
    }
  }
}
