.movie-card-detail {
    padding-top: 20px;
    background-color: var(--main-color);
    color: #fff;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0;
    border: none;
    
    .titleDetail{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 15px;
    }
    
    .movie-image {
      width: 100%;
      max-width: 200px; // Limits the size of the image on larger screens
      border-radius: 8px;
      cursor: pointer;
    }
  
    .rating-section {
      display: flex;
      align-items: center;
      gap: 10px;
  
      .rating {
        font-size: 1.2rem;
      }
      .availability{
        font-size: 1.2rem;
      }

    }
  
    .creators, .genres {
      font-size: 0.9rem; // Adjusted font size for smaller screens
      
    }
  
    .description {
      font-size: 1rem;
    }
  
    @media (max-width: 768px) {
      .movie-card-detail {
        padding: 1rem;
  
        .rating-section {
          flex-direction: column;
          align-items: flex-start;
        }
  
        .movie-image {
          max-width: 150px; // Further reduce image size on smaller screens
        }
      }
    }
  }
  