.lists {
  .wrapperList {
    position: relative;
    .sliderArrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      z-index: 1;
      cursor: pointer;
    }
    .back {
      left: 10px;
    }
    .forward {
      right: 10px;
    }
  }
}
