.home {
  background-color: var(--main-color);
  color: white;
  display: flex;
  flex-direction: column;
}

.dropdown-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 50px;
  padding-right: 50px;
  flex-wrap: wrap;

  .label-filter {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    margin-top: 45px;
    // border-top: 1px solid var(--primary-color);

  }

  select {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    max-width: 100px;

    &:hover {
      border-color: var(--tertiary-color);
    }
  }

}

